    <% if @item.status == "selling" %>
        <a href="/profile/<%= @item.user.id%>"><p>@<%= @item.user.username %></p></a><br>
        <p><%= @item.name%></p><br>
        <p><%= @item.description%></p><br>
        <p>$<%= @item.cost%></p><br>
        <a href="<%=@item.id%>/buy"><p>buy</p></a>
    <% else %>
        <p>the item you are looking for is no longer available</p>
    <%end%>